*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    //THis defines what 1rem is (which is in this case 10px)
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}