<div class="about">
    
    <h2 class="about__heading">About Us</h2>

    <div class="about__description">
        <div class="about__description__main">
            <p>
                Lead Start Digital is a premiercreative digital marketing companyproviding top of the line digitalexperiences
                using creative andinnovative solutions of anycomplexity to a globally diverseclientele. We cater to all types
                ofbusinesses worldwide. Our goal issimply to provide online visibility,increasing reach & engagement withyour
                target audience, and eventuallydriving sales and build brandreputation.
            </p>
        </div>
        <div class="about__description__sub">
            <img src="images/about.jpg" alt="Leadstart About us">
        </div>
    </div>


</div>

