<section class="about u-center-text">
    
    <h2 class="heading-secondary">About Leadstart Digital</h2>

    <div class="about__description">
        <div class="about__description__main">
            <p>
                Leadstart Digital is a premier creative digital marketing company providing top of the line digital experiences
                using creative and innovative solutions of any complexity to a globally diverse clientele. We cater to all types
                of businesses world-wide. Our goal is simply to provide online visibility, increasing reach & engagement with your
                target audience, and eventually driving sales and build brand reputation.
            </p>

            <a href="#" class="button-text">Contact us &rarr;</a>
        </div>
        <div class="about__description__sub">
            <img src="images/about.jpg" alt="Leadstart About us">
        </div>
    </div>


</section>

