<section class="section-clients" id="clients-section">

    <div class="clients">

        <% clients.forEach((singleClient) => { %>

            <% console.log(singleClient.src) %>

            <div class="card" style="width: 18rem">
                <img src=<% singleClient.src %> class="card-img-top" alt="Client Logo">
                <div class="card-body">
                  <h5 class="card-title"> <% singleClient.description %> </h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>

        <% }) %>

    </div>
    
</section>