<footer class="footer" id="footer-section">
    
  <div class="footer__logo-box">
    <img class="footer__logo" src="images/logo.png" alt="Leadstart Logo">
  </div>

  <div class="footer__description">
    <div class="footer__description__main">
      <div class="footer__navigation">
        <ul class="footer__list">
          <li class="footer__item">
            <a href="" class="footer__link">Contact-us</a>
          </li>
          <li class="footer__item">
            <a href="" class="footer__link">Privacy-policy</a>
          </li>
        </ul>
        <br>
        
      </div>
    </div>
    <div class="footer__desctription__sub">
      <p class="footer__copyright">
        Copyright &copy;2021 by Leadstart Digital <br>
        Built by <a href="#" class="footer__link">Vinayak Dandin</a> 
      </p>
    </div>
  </div>

 </footer>
</body>
</html>