<header class="header">

    <div class="header__text-box">
        <h1 class="heading-primary">
            <span class="heading-primary--main">
                <span class="heading-primary--main--1">Leadstart</span>
                <span class="heading-primary--main--2">Digital</span>  
            </span>
            <span class="heading-primary--sub">
                Let's Get Your Digital Leads Started
            </span>
        </h1>

        <a href="#" class="button button--white button--animated">Discover our services</a>

    </div> 
      
</header>