<header class="header">

    <div class="text-box">
        <h1 class="heading-primary">
            <span class="heading-primary-main">
                Leadstart Digital
            </span>
            <span class="heading-primary-sub">
                Let's Get Your Digital Leads Started
            </span>
        </h1>

        <a href="#" class="button button-white button-animated">Discover our services</a>

    </div> 
      
</header>