<nav class="navbar navbar-expand-md navbar-light bg-light px-5 fixed-top">
  <a href="/" class="navbar-brand custom-logo-link" rel="home" itemprop="url"><img width="90" height="89" src="images/logo.png" class="img-fluid" alt="Leadstart Digital" itemprop="logo"></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo02"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">About-us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Our-Clients</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Our-Work</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Social-Media-Ads</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Milestones</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Charges</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
  </div>
</nav>
