.section-clients {
    padding: 14rem 10rem 20rem 10rem;
    background-image: linear-gradient(
        to right bottom, 
        rgba($color-primary-light, 0.85), 
        rgba($color-primary-dark, 0.85)) ,
        url(../images/soc.jpg);

    background-size: cover;
    transform: skewY(-7deg);
    margin-top: -11.5rem;
    text-align: center;

    & > * {
        transform: skewY(7deg);
    }

}

.clients {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    padding: 0 15rem;


    &__main {
        display: flex;
        justify-content: center;
    }

    &__card {
        width: 22rem;
        height: 30rem;
    }

    &__image {
        width: 21.8rem;
        height: 24rem;
    }
    &__heading {
        font-size: 1.6rem;
        font-weight: 600;
        color: $color-primary-dark;
    }

}

.col-xs-12 {
    padding-bottom: 5rem;
}