.section-clients {
    padding: 14rem 10rem 20rem 10rem;
    background-image: linear-gradient(
        to right bottom, 
        rgba($color-primary-light, 0.85), 
        rgba($color-primary-dark, 0.85)) ,
        url(../images/soc.jpg);

    background-size: cover;
    transform: skewY(-7deg);
    margin-top: -11.5rem;
    text-align: center;

    & > * {
        transform: skewY(7deg);
    }

}

.clients {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    padding: 0 15rem;


    &__main {
        display: flex;
        justify-content: center;
    }

}